* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'DM Sans'
}

body {
    background: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    background-image: url(./assets/hs..svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
}

.header-nav {
    display: flex;
}

.header-nav p {
    margin-right: 29px;
    font: 500 22px 'DM Sans';
    color: #181717;
}
.flex {
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-top: 120px;
   margin-bottom: 120px;
}
.flex h1 {
   
    font: 500 60px 'DM Sans';
    color: black;  
}
.flex p {
   
    font: 400 32px 'DM Sans';
    color: rgb(50, 48, 48);  
}
.arrow {
    background-image: url(./assets/↓.svg);
    background-repeat: no-repeat;
    height:39px;
    width: 33px;
}
.flex2 {
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-top: 120px;
   margin-bottom: 120px;
}
.flex3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: flex-start;
   
   
}
.h1 {
   
    font: 500 24px 'DM Sans';
    color: black;  
}
.p1 {
   
    font: 400 22px 'DM Sans';
    color: #181717; 
    border-bottom: 34px; 
}
.p2 {
   
    font: 400 22px 'DM Sans';
    color: #606060;;  
}
.p3 {
   border-top: 158px;
    font: 500 22px 'DM Sans';
    color: #181717; 
    text-decoration-line: underline; 
}
.rectangle {
    background-image: url(./assets/Thumbnail.svg);
    background-repeat: no-repeat;
    height:364px;
    width: 640px;
}
.line {
    padding-top: 2px;
    height: 1px;
    background-color: rgb(11, 11, 11);
margin-top: 47px;
}
.p4 {
    border-top: 158px;
     font: 500 22px 'Inter';
     color: #181717; 
     text-decoration-line: underline; 
 }

 .flex4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: flex-start;
   
   
}

.p5 {

    font: 500 22px 'DM Sans';
    color: #2429AF;
   
}
.p6 {

    font: 500 22px 'DM Sans';
    color: #181717;
}
.p7 {

    font: 500 21px 'DM Sans';
    color: #181717;
}