* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'DM Sans'
}

body {
    background: #E5E5E5;
    width: 1200px;
    margin: auto;
}

a {
    color: #181717;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    background-color: #c4c1c1;
    padding: 20px;
    left: 0;
    top: 0;
}

.img-logo {
    background-image: url(./assets/hs..svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
}

.header-nav {
    display: flex;
}

.header-nav p {
    margin-right: 29px;
    font: 500 22px 'DM Sans';
    color: #181717;
}


.header-nav p:not(:last-child) {
    margin-right: 29px;
}

.header-nav p:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.flex h1 {

    font: 500 60px 'DM Sans';
    color: black;
}

.flex p {

    font: 400 32px 'DM Sans';
    color: rgb(50, 48, 48);
}

.arrow {
    background-image: url(./assets/↓.svg);
    background-repeat: no-repeat;
    height: 39px;
    width: 33px;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.flex3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.h1 {

    font: 500 24px 'DM Sans';
    color: black;
}

.p1 {
    font: 400 22px 'DM Sans';
    color: #181717;
    border-bottom: 34px;
}

.p2 {
    font: 400 22px 'DM Sans';
    color: #606060;
}

.p3 {
    border-top: 158px;
    font: 500 22px 'DM Sans';
    color: #181717;
    text-decoration-line: underline;
}

.rectangle {
    background-image: url(./assets/Thumbnail.svg);
    background-repeat: no-repeat;
    height: 364px;
    width: 640px;
}

.line {
    padding-top: 2px;
    height: 1px;
    background-color: rgb(11, 11, 11);
    margin-top: 47px;
}

.p4 {
    border-top: 158px;
    font: 500 22px 'Inter';
    color: #181717;
    text-decoration-line: underline;
}

.flex4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    height: 20px;
    margin-top: 135px;
}

.p5 {

    font: 500 22px 'DM Sans';
    color: #2429AF;
}

.flex5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
    height: 20px;
}

.p6 {

    font: 500 22px 'DM Sans';
    color: #181717;
}

.p7 {

    font: 500 21px 'DM Sans';
    color: #181717;
}

.about {
    margin-top: 100px;
}

.flex-about {
    display: flex;
    justify-content: space-between;
}

.img-about {
    background-color: #606060;
    height: 457px;
    width: 405px;
}

.info-about {
    width: 570px;
}

.info-about h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
}

.info-about p {
    font: 400 24px 'DM Sans';
    color: #606060;
    margin-top: 30px;
}

.about-block-skills {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
}

.about-skills-more-info {
    width: 400px;
    margin-left: 40px;
    font: 400 20px 'DM Sans';
    color: #181717;
}

.about-skills {
    display: flex;
}

.about-skills-header {
    font: 500 22px 'DM Sans';
    color: #181717;
    text-decoration-line: underline;
}

.questions {
    display: flex;
    flex: start;
    margin-top: 71px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

.questions-margin {
    margin-right: 322px;
}

.about-arrow-questions {
    background-image: url(./assets/↓\ \(1\).svg);
    background-repeat: no-repeat;
    height: 39px;
    width: 33px;
}

.input input {
    margin-top: 52px;
    width: 676px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 15px 0 15px 10px;
}

.order-number-box {
    margin-top: 30px;
    width: 676px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
}

.text {
    font: 400 24px 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 50px;
}

.butto {
    padding: 8px 0;
    width: 170px;
    background-color: #5d5757;
    border-radius: 5px;
    color: #E5E5E5;
    text-align: center;
    font: 700 18px 'DM Sans';
    margin-top: 30px;
}

.butto:hover {
    background-color: #181717;
}


@media screen and (max-width: 500px) {
    body {

        width: max-content;
    }

    .contact {
       
        flex-direction: column;
    }

    .info-about p {
        font: 400 24px 'DM Sans';

    }

    .input input {

        width: 200px;

    }

    .butto {
        padding: 5px 0;
        font: 500 15px 'DM Sans';
        margin: 0 auto;
        margin-bottom: 20px;
    }
}


